<template>
  <div>
    <div id="score">
      <p>Score: {{ score }}</p>
    </div>
    <QuestionCard
      v-if="fetchedData && indexOfQuestionList < questionsList.length"
      :question="questionsList[indexOfQuestionList].question"
      :possibleAnswers="currentPossibleAnswers"
      @checkAnswer="checkAnswer"
    />
    <h2 v-else-if="!fetchedData">
      Loading ...
    </h2>
    <div v-else>
      <h2>Results</h2>
      <ResultCard
        v-for="question in questionsList"
        :key="question.question"
        :question="question.question"
        :user_answer="question.userAnswer"
        :correct_answer="question.correct_answer"
        :incorrect_answers="question.incorrect_answers"
        :scrambled_answers="question.scrambledAnswers"
      />
      <router-link to="/"> Play again!</router-link>
    </div>
  </div>
</template>

<script>
import QuestionCard from '../components/QuestionCard';
import ResultCard from '../components/ResultsCard';
import {
  getQuestionByCategory,
  getQuestionWithAnyCategory,
} from '../api/trivia';

export default {
  data() {
    return {
      score: 0,
      indexOfQuestionList: 0,
      questionsList: [
        {
          question:
            'How many officially recognized dwarf planets in the solar system are named after Polynesian deities?',
          correct_answer: '2',
          incorrect_answers: ['0', '1', '5'],
          type: 'multiple',
          category: 'Science & Nature',
          difficulty: 'medium',
          scrambledAnswers: [],
        },
      ],
      fetchedData: false,
    };
  },
  computed: {
    currentPossibleAnswers() {
      return this.scrambleAnswers(
        this.questionsList[this.indexOfQuestionList].incorrect_answers,
        this.questionsList[this.indexOfQuestionList].correct_answer
      );
    },
  },
  async created() {
    try {
      //if the user specifies categories -> getQuestionByCategory
      if (
        this.$route.params.category === null ||
        this.$route.params.category === 'any'
      ) {
        this.questionsList = await getQuestionWithAnyCategory(
          this.$route.params.difficulty,
          this.$route.params.numberOfQuestions
        );
      } else {
        this.questionsList = await getQuestionByCategory(
          this.$route.params.difficulty,
          this.$route.params.numberOfQuestions,
          this.$route.params.category
        );
      }
    } catch (error) {
      console.error(error.message);
    } finally {
      //Wheter or not we got an error: we are finished loading
      this.fetchedData = true;
    }
  },
  components: {
    QuestionCard,
    ResultCard,
  },
  methods: {
    /**
     * @param {String[]} incorrect_answers - list of incorrect answers
     * @param {String} correct_answer - the correct answer
     * Appends a single list consisting of correct and incorrect answers to the question object, where the
     * correct answer is at random index.
     */
    scrambleAnswers(incorrect_answers, correct_answer) {
      const correctAnswerIndex = Math.floor(
        Math.random() * (incorrect_answers.length + 1)
      );
      //creating list containing both incorrect and correct answers:
      const tempAnswerSuggestion = [...incorrect_answers, correct_answer];
      //swapping one incorrect answer specified by the random correctAnswerIndex with the correct answer:
      const tempFalseAnswer = tempAnswerSuggestion[correctAnswerIndex];
      tempAnswerSuggestion[tempAnswerSuggestion.length - 1] = tempFalseAnswer;
      tempAnswerSuggestion[correctAnswerIndex] = correct_answer;

      //QuestionCard needs a computed value in order to work, hence the return statement.
      //In order not to lose the scrambled answers, they are also appended to the question object in the questionList
      this.questionsList[
        this.indexOfQuestionList
      ].scrambledAnswers = tempAnswerSuggestion;
      return tempAnswerSuggestion;
    },
    checkAnswer(userAnswer) {
      //update score
      if (
        userAnswer ===
        this.questionsList[this.indexOfQuestionList].correct_answer
      ) {
        this.score += 10;
      }
      //push userAnswer to QuestionList at correct index
      this.questionsList[this.indexOfQuestionList].userAnswer = userAnswer;
      //move on to next question
      this.indexOfQuestionList++;
    },
  },
};
</script>

<style></style>
