<template>
  <div>
    <h1>Settings</h1>
    <GameSettings
      @changeNumberOfQuestions="setNumberOfQuestions"
      @changeDifficulty="setDifficulty"
    >
    </GameSettings>
    <CategoryPicker @changeCategory="setCategory" />
    <button @click="startGame" type="button" id="btnPlay">Play!</button>
  </div>
</template>

<script>
import GameSettings from '../components/GameSettings';
import CategoryPicker from '../components/CategoryPicker';

export default {
  name: 'StartPage',
  data() {
    return {
      numberOfQuestions: 5,
      difficulty: 'medium',
      category: null,
    };
  },
  methods: {
    setNumberOfQuestions(num) {
      this.numberOfQuestions = num;
    },
    setDifficulty(difficulty) {
      this.difficulty = difficulty;
    },
    startGame() {
      this.$router.push({
        name: 'game',
        params: {
          difficulty: this.difficulty,
          numberOfQuestions: this.numberOfQuestions,
          category: this.category,
        },
      });
    },
    setCategory(categoryNumber) {
      this.category = categoryNumber;
    },
  },
  components: {
    GameSettings,
    CategoryPicker,
  },
};
</script>

<style></style>
