<template>
  <div>
    <select
      v-model="selectedCategory"
      id="categoryPicker"
      name="categoryPicker"
      @change="changeCateogory"
    >
      <option value="any">Any category </option>
      <option
        v-for="category in categories"
        :value="category.id"
        :key="category.id"
      >
        {{ category.name }}</option
      >
    </select>
  </div>
</template>

<script>
import { getAllCategories } from '../api/trivia';
export default {
  data() {
    return {
      categories: [{ id: 0, name: 'Loading categories...' }],
      selectedCategory: 'any',
    };
  },
  async created() {
    try {
      this.categories = await getAllCategories();
    } catch (error) {
      console.error(error.message);
    }
  },
  methods: {
    changeCateogory() {
      this.$emit('changeCategory', this.selectedCategory);
    },
  },
};
</script>

<style></style>
