<template>
  <div>
    <div id="numberOfQuestionRange">
      <input
        @input="changeNumberOfQuestions"
        v-model="numberOfQuestions"
        type="range"
        min="1"
        max="50"
        name="numberOfQuestionRange"
      />
      <label for="numberOfQuestionRange"
        >Number of Questions: {{ numberOfQuestions }}</label
      >
    </div>

    <select
      @change="changeDifficulty"
      v-model="difficulty"
      name="difficulty"
      id="difficulty"
    >
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>
    <label for="difficulty">Game difficulty</label>
  </div>
</template>

<script>
export default {
  name: 'GameSettings',
  data() {
    return {
      numberOfQuestions: 5,
      difficulty: 'medium',
      category: 10,
    };
  },
  methods: {
    changeNumberOfQuestions() {
      this.$emit('changeNumberOfQuestions', this.numberOfQuestions);
    },
    changeDifficulty() {
      this.$emit('changeDifficulty', this.difficulty);
    },
  },
};
</script>

<style></style>
