<template>
  <div id="question-card">
    <h2>Questions</h2>
    <h2 v-html="question"></h2>
    <button
      v-for="answer in possibleAnswers"
      :key="answer"
      @click="emitAnswer(answer)"
      v-html="answer"
    ></button>
  </div>
</template>

<script>
export default {
  props: {
    question: {
      type: String,
      required: true,
    },
    possibleAnswers: {
      type: Array,
      required: true,
    },
  },
  methods: {
    emitAnswer(answer) {
      this.$emit('checkAnswer', answer);
    },
  },
};
</script>

<style></style>
