<template>
  <div id="resultContainer">
    <h3 v-html="question">Question: {{ question }}</h3>
    <ul>
      <li
        v-for="answer in scrambled_answers"
        :key="answer"
        :id="setAnswerElementID(answer)"
        v-html="answer"
      ></li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    question: {
      type: String,
      required: true,
    },
    scrambled_answers: {
      type: Array,
      required: true,
    },
    correct_answer: {
      type: String,
      required: true,
    },
    user_answer: {
      type: String,
      required: true,
    },
  },

  methods: {
    /**
     * @param {String} answer - answer that is to be compared with the user submitted answer and the correct answer
     * @returns {String} id for an answer. Can be used to set styling for component
     */

    setAnswerElementID(answer) {
      if (answer == this.correct_answer && this.user_answer == answer) {
        return 'correct-user-guessed';
      } else if (answer == this.correct_answer) {
        return 'correct';
      } else if (answer == this.user_answer) {
        return 'user-guessed';
      } else {
        return '';
      }
    },
  },
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  padding: 5px;
}
#correct {
  border-style: dotted;
}
#correct-user-guessed {
  background-color: rgb(13, 236, 113);
  border-style: dotted;
}
#user-guessed {
  background-color: red;
}
@media only screen and (min-width: 500px) {
  #resultContainer {
    margin-left: 5em;
    margin-right: 5em;
  }
}
</style>
